/node_modules
.DS_Store
.env
npm-debug.log
yarn-error.log  
.vscode/
.idea/
dist/
coverage/
build/
node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.pnp.js
.pnp.cjs
.cache/
.next/
out/
.nuxt/
*.tsbuildinfo
.svelte-kit/
.vite/
*.swp
thumbs.db
*.pem